body {
  font-family: "Helvetica Neue",Arial;
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}

h1,
h2,
h3 {
  line-height: 1.2
}

.header-menu {
  float: right;
}

ul.pagination {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

ul.pagination > li {
  padding: 0 8px;
  display: inline-block;
}

div.footer {
  padding-top: 10px;
  text-align: center;
}
